[Unit]
Description=Nexus IQ Server
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/nexus-iq-server start
ExecStop=/etc/init.d/nexus-iq-server stop
User={{ iqserver_user }}
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy=multi-user.target
